{#
 # Copyright (C) 2021 Reto Gantenbein <reto.gantenbein>
 # SPDX-License-Identifier: GPL-3.0-or-later
 #}
{% set _interfaces = {} %}
{% for _interface, _config in network_default_interfaces.items() %}
{%   if _interface in network_interfaces.keys() %}
{%     set _ = _config.update(network_interfaces[_interface]) %}
{%   endif %}
{%   if ('state' in _config.keys() and _config['state'] == 'present') or ('state' not in _config.keys()) %}
{%     set _ = _interfaces.update({_interface: _config}) %}
{%   endif %}
{% endfor %}
{% for _custom_interface in (network_interfaces.keys() | difference(network_default_interfaces.keys())) %}
{%   set _ = _interfaces.update({_custom_interface: network_interfaces[_custom_interface]}) %}
{% endfor %}
{{ _interfaces | to_yaml }}
